<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmiyc.catchmegui2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.CaughtActivity"
            android:parentActivityName="cmiyc.catchmegui2.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.CreateGameActivity"
            android:parentActivityName="cmiyc.catchmegui2.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.CustomiseGameActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.CreateGameActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.GameOverActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.GameOverActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.CatchSuccessActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.CatchSuccessActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.InvitePlayerActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.InvitePlayerActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.JoinGameActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.InGameActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.PlayerDetailsActivity"
            android:parentActivityName="cmiyc.catchmegui2.PlayerDetailsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.LobbyActivity"
            android:parentActivityName="cmiyc.catchmegui2.VotingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.VotingActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.LobbyLeaderboardActivity"
            android:parentActivityName="cmiyc.catchmegui2.LobbyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.LobbyLeaderboardActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.HowToPlayActivity"
            android:parentActivityName="cmiyc.catchmegui2.Home" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.Home" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.LobbyHostActivity"
            android:parentActivityName="cmiyc.catchmegui2.CreateGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.CreateGameActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.GameLeaderboardActivity"
            android:parentActivityName="cmiyc.catchmegui2.InGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.InGameActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.MapActivity"
            android:parentActivityName="cmiyc.catchmegui2.InGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.InGameActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.InGameOptionsActivity"
            android:parentActivityName="cmiyc.catchmegui2.InGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.InGameActivity" />
        </activity>
        <activity
            android:name="cmiyc.catchmegui2.VotingActivity"
            android:parentActivityName="cmiyc.catchmegui2.JoinGameActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmiyc.catchmegui2.JoinGameActivity" />
        </activity>
    </application>

</manifest>